# Assignment 2
## Morteza Aghajanzadeh

In [2]:
import pandas as pd
import numpy as np

### 1. **Compute the characteristics**
I cleaned the data and merged the CRSP, Moody and Compustat in the data_cleaning.py 
Here I use the output from that code

In [19]:
# Load the cleaned and merged data
df = pd.read_csv('out/monthly_return_book_value.csv') 
df['B/M'] = df.BookEquity/df.mcap
df['date'] = pd.to_datetime(df['date'])
df['month'] = df.date.dt.month
df['year'] = df.date.dt.year
df.drop_duplicates(subset=['date', 'permno'], inplace=True)
df

,permno,date,prc,ret,shrout,year,prc_flag,mcap,gvkey,BookEquity,B/M,month
0,10000.0,1985-12-31,NaN,NaN,NaN,1985,0,NaN,13007.0,NaN,NaN,12
1,10000.0,1986-01-31,4.375000,NaN,3680.0,1986,1,0.016100,13007.0,-0.000436,-0.027109,1
2,10000.0,1986-02-28,3.250000,-0.257143,3680.0,1986,1,0.011960,13007.0,-0.000436,-0.036492,2
3,10000.0,1986-03-31,4.437500,0.365385,3680.0,1986,1,0.016330,13007.0,-0.000436,-0.026727,3
4,10000.0,1986-04-30,4.000000,-0.098592,3793.0,1986,1,0.015172,13007.0,-0.000450,-0.029650,4
...,...,...,...,...,...,...,...,...,...,...,...,...
5870247,93436.0,2022-08-31,275.609985,-0.072489,3133470.0,2022,0,863.615621,184996.0,44.272798,0.051264,8
5870248,93436.0,2022-09-30,265.250000,-0.037589,3158000.0,2022,0,837.659500,184996.0,44.619382,0.053267,9
5870249,93436.0,2022-10-31,227.539993,-0.142168,3157752.0,2022,0,718.514869,184996.0,44.615878,0.062095,10
5870250,93436.0,2022-11-30,194.699997,-0.144326,3157752.0,2022,0,614.814305,184996.0,44.615878,0.072568,11
5870251,93436.0,2022-12-30,123.180000,-0.367334,3157752.0,2022,0,388.971892,184996.0,44.615878,0.114702,12

Find the Annual portfolio at the end of June

In [25]:
portfolio_selection = df.loc[df.month == 6].dropna()
portfolio_selection = portfolio_selection.loc[portfolio_selection['B/M'] > 0]
High_portfolio = portfolio_selection.groupby('year').apply(lambda x: x.nlargest(30, 'B/M').permno.values).to_dict()
Low_portfolio = portfolio_selection.groupby('year').apply(lambda x: x.nsmallest(30, 'B/M').permno.values).to_dict()

C:\Users\SE.5203\AppData\Local\Temp\ipykernel_7616\2333724511.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  High_portfolio = portfolio_selection.groupby('year').apply(lambda x: x.nlargest(30, 'B/M').permno.values).to_dict()

array([10006., 25486., 15325., 22373., 17435., 12570., 19334., 11543.,
       12044., 19297., 13290., 15712., 22250., 20765., 11092., 16280.,
       22461., 10460., 23245., 15974., 10495., 23579., 11658., 18112.,
       11068., 18200., 13012., 12466., 10727., 22920.])